<h1>Todos os Filmes</h1>

<%#= link_to 'Adicionar Filme', new_movie_path, :class => 'btn btn-primary' %>

<div id='movies'>
  <div class="row">
    <div class="col-8">Nome</div>
    <div class="col-2">Classificação</div>
    <div class="col-2">Lançamento</div>
  </div>
  <%- @movies.each do |movie| %>
    <div class="row">
      <div class="col-8"> <%= movie.title %>> <%= link_to movie.title, movie_path(movie) %> </div>
      <div class="col-2"> <%= movie.rating %> </div>
      <div class="col-2"> <%= movie.release_date.strftime('%F') %> </div>
    </div>
  <% end %>
</div>